body {
  background-color: #f0f0f0;
  margin: 0 auto;
}

.alert,
.custom-card,
table {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.alert,
.custom-card {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert {
  width: 100%; /* Override inherited width */
}

.center-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  margin: 0 auto;
}

.btn-modern {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-modern:hover {
  background-color: #0056b3;
  color: #ccc;
}

.custom-file-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-file-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.custom-file-label::after {
  content: "Browse";
}

.custom-file-input:focus + .custom-file-label {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

table {
  border-spacing: 0px;
  table-layout: fixed;
}

th,
td {
  border: 1px solid black;
  word-wrap: break-word;
}

th {
  color: green;
}
